<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>Main header</h1>
  </header>
  <main class="container container-fluid mt-5">
    <nav class="nav justify-content-center">

      <a class="nav-home" href="#">Home</a>
      <a class="nav-my reviews" href="#">My Reviews</a>

      {{#unless logged_in}}
      <a class="nav-read books" id="logout" href="#">Login</a>
      {{/unless}}
      {{#if logged_in}}
      <a class="nav-read books"  href="#">Logout</a>
      {{/if}}
    </nav>
    {{{ body }}}
  </main>
  <footer>

  </footer>
  <script></script>
</body>

</html>