{{!-- This page will have space for one book title and book author at the top, under the nav bar. --}}
{{!-- The rest of the page will be a blank text box with a placeholder of "Write your review here." for the user to write their review along with a submit button. --}}
{{#each Reviews}}

<div class="review card">
  <div class="review-card title">

    Title: {{this.book_title}}
  </div>
   <p>
      Author:
      {{this.book_author}}
    </p>
  <div class="card-body">
    <p>
      Review:
      {{this.review_content}}
    </p>
    <button type='submit' value='Remove'>
        Remove
      </button>
  </div>
</div>
{{/each}}


